fastapi
uvicorn[standard]
pydantic>=2.9.2
pydantic-settings>=2.5.2
python-multipart
python-dotenv
email-validator

# Database
sqlalchemy>=2.0.36
psycopg2-binary==2.9.11
alembic

# Authentication
passlib[bcrypt]
python-jose[cryptography]
PyJWT

# WebSocket/Socket.IO
python-socketio
python-socketio[client]

# Payment Gateway
django-esewa

# Testing
pytest
pytest-asyncio
